body {
    background-color: black;
    font-family: 'Vibur', serif;
    color: white;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 100;
    font-size: 4.2rem;
    color: #ffffff;
    text-shadow: 
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 55px #b539e2,
    0 0 85px #b539e2,
    0 0 100px #b539e2,
    0 0 110px #b539e2,
    0 0 165px #b539e2;
    
}

.btns {
    display: flex;
    flex-basis: 100%;
    height: 500px;
    justify-content: center;    
    align-items: center;
    gap: 50px;
}

button {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    font-size: 120px;
    font-weight: bold;
    border: 10px solid rgb(29, 224, 29);
    background-color: black;
    color: white;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 55px rgb(29, 224, 29),
    0 0 85px rgb(29, 224, 29),
    0 0 100px rgb(29, 224, 29),
    0 0 110px rgb(29, 224, 29),
    0 0 165px rgb(29, 224, 29);
}

button:hover {
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 55px rgb(214, 161, 61),
    0 0 85px rgb(214, 161, 61),
    0 0 100px rgb(214, 161, 61),
    0 0 110px rgb(214, 161, 61),
    0 0 165px rgb(214, 161, 61);
    border: 10px solid rgb(214, 161, 61);
}