body {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

h3 {
    text-align: center;
}

.btns {
    display: flex;
    flex-basis: 100%;
    height: 500px;
}